body nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;

}

a{
    color:black;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 6px;
    color: #555;       
}

h1 strong{
    font-size: 44px;
    color: red;
}

h3 strong{
    font-size: 33px;
    color: blue;
}