.NavBar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

a{
    color:black;
    text-decoration: none;
}

a strong {
    color:brown
}
.card-list{
    display:flex;
    gap:20px;
    justify-content: center;


}

.card-img-box img {
    width: 100%;
    height: 180px;    
    object-fit: cover;  
}

.idea-card {
        background-color: cadetblue !important;
        width: 280px;
        padding: 30px;
        position: relative;
        border: 1px solid #ddd;
        margin: 10px;
    }

.header-text{
    text-align: center;
    padding: 40px 0;
}

.form-group {
    margin-bottom: 20px; 
}

.form-group label {
    display: block;      
    margin-bottom: 8px;  
    font-weight: bold;
}

.container p{
    margin-bottom: 50px !important;
}

.detail-footer {
    display: flex;     
    gap: 10px;          
    align-items: center; 
    margin-top: 50px !important;  
}

.detail-footer .btn {
    padding: 10px    
}

.aa {
    margin-bottom: 40px;

}

.devtool-container a{
    margin-bottom: 40px
}

.devtool-container .btn {
    display: inline-block;
    margin-bottom: 30px;   

}